{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <title>DataAnnotator - Rapid Annotation, Powered by AUT RND Group</title>
    <link href="{% static 'css/AboutUs.css' %}" rel="stylesheet" />
    <script src="{% static 'js/AboutUs.js' %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <title> EXAMPLE </title>
    <style>
        .myDivThree
		{
			background-color: royalblue;
			text-align: center;
			border: 4px outset whitesmoke;
		}
    </style>
    <div class="landing-container unselectable">
        <p class="tagline">
            <span class="tagline-component tagline-component-main">
                About Us
            </span>
            
            <span class="tagline-component tagline-component-sub">
                Purpose of undertaking this project for this team
            </span>
        </p>
        
        <div class="myDivThree">
            <form>
                <img src="https://www.aut.ac.nz/__data/assets/image/0008/375173/why-AUT-infographic-slider-part1.png"/> <br><br>     
            </form>
        </div>
        <br><br><hr><br>
        Team Name:<br>
        ECMS Data Annotator<br>
        <br><hr><br><br>
        Group Members:<br>
        Haseeb Cheema, Jue Zhao, Justin Shand, Karran Singh, Deshi Sun<br>
        <br><hr><br><br>
        Goal:<br>
        The project our group will be working on for R&D mainly evolves around data annotation and its functionalities.<br>
        Data annotation can be described as the process which involves labeling the available data in various different formats<br>
        such as videos, texts and images. Data annotation, annotates or labels the content for the object of interest while<br>
        ensuring the accuracy to make sure it can be recognized by machines through computer vision. The goal for our team was creating<br>
        an application that allows the users to perform basic data annotation tasks.<br>
        <br><hr><br>
    </div>
{% endblock %}