{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <title>DataAnnotator - Rapid Annotation, Powered by AUT RND Group</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="landing-container unselectable">
        <p class="tagline">
            <span class="tagline-component tagline-component-main">
                DataAnnotator Sign in
            </span>
        </p>
    </div>
    <div class="wrapper">
        <form action="/" method="POST">
            {% csrf_token %}
            <input type="username" name="username" class = "input-field" placeholder="Username">
            <br><br>
            <input type="password" name="password" class = "input-field" placeholder="Password">
            <br><br>
            <input type="submit" class = "btn" value="Login">
        </form>
        <div class="bottom-text">
            <input type="checkbox" name="remember" checked="checked"> Remember me
            <br><br>
            <a href="{% url 'signup' %}">Haven't got an account?</a>
        </div>
    </div>
    
{% endblock %}